In [1]:
import yfinance as yf

In [2]:
data = yf.download('MSFT', period='6mo')

[*********************100%***********************]  1 of 1 completed

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-09-08,206.500000,210.029999,202.199997,202.660004,201.666336,52924300
2020-09-09,207.600006,214.839996,206.699997,211.289993,210.254013,45679000
2020-09-10,213.399994,214.740005,204.110001,205.369995,204.363037,35461500
2020-09-11,207.199997,208.630005,201.240005,204.029999,203.029633,33620100
2020-09-14,204.240005,209.199997,204.029999,205.410004,204.402847,30375800

In [4]:
data = yf.download('MSFT', period='1mo', interval='5m')

[*********************100%***********************]  1 of 1 completed

In [5]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-02-08 09:30:00-05:00,243.149994,243.679993,242.339996,242.445007,242.445007,1017808
2021-02-08 09:35:00-05:00,242.429993,242.800003,241.979996,242.020004,242.020004,411511
2021-02-08 09:40:00-05:00,242.000000,242.559998,241.860001,242.054993,242.054993,329096
2021-02-08 09:45:00-05:00,242.199997,242.669998,242.110001,242.149994,242.149994,310170
2021-02-08 09:50:00-05:00,242.250000,242.320007,241.890106,242.031998,242.031998,373392