In [1]:
import os
os.chdir('./../')

In [2]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

from Resources.APIKeys import APIKeys

In [3]:
alpha_vantage_key = APIKeys.alpha_vantage

In [4]:
ts = TimeSeries(key = alpha_vantage_key, output_format='pandas')
type(ts)

alpha_vantage.timeseries.TimeSeries

In [5]:
data = ts.get_daily(symbol='EURUSD', outputsize='full')[0]
data.columns = ['open', 'high', 'low', 'close', 'volume']
data = data.iloc[::-1]

In [6]:
data.head()

              open    high     low   close  volume
date
2002-01-04  0.8999  0.9000  0.8938  0.8951     0.0
2002-01-07  0.8956  0.8999  0.8879  0.8930     0.0
2002-01-08  0.8932  0.8938  0.8880  0.8922     0.0
2002-01-09  0.8923  0.8952  0.8862  0.8904     0.0
2002-01-10  0.8903  0.8939  0.8896  0.8912     0.0

In [7]:
all_tickers = ['AAPL', 'MSFT', 'CSCO', 'AMZN']
close_prices = pd.DataFrame()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker, interval='1min', outputsize='full')[0]
    data.columns = ['open', 'high', 'low', 'close', 'volume']
    data = data.iloc[::-1]
    close_prices[ticker] = data['close']

In [8]:
close_prices.head()

                       AAPL    MSFT  CSCO    AMZN
date
2021-02-22 04:01:00  127.54  237.99  45.4  3226.0
2021-02-22 04:02:00  127.51     NaN   NaN     NaN
2021-02-22 04:03:00  127.50  237.17   NaN     NaN
2021-02-22 04:04:00  127.51     NaN   NaN     NaN
2021-02-22 04:05:00  127.66     NaN   NaN     NaN

Note: Alpha vantage doesn't allow more than 5 API calls per minute. If the list of tickers is more than 5 then import time and use time.sleep(60), i.e. 60 secs