In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from typing import Dict

In [2]:
tickers = ['MSFT', 'AMZN']
financial_dir = {}

In [3]:
def get_details_for(ticker: str, info_type: str, ticker_dict: dict) -> dict:
    url = f'https://finance.yahoo.com/quote/{ticker}/{info_type}'
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    table = soup.find_all('div', {'class': 'M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)'})
    rows = table[0].find_all('div', {'class': 'D(tbrg)'})[0].find_all('div', {'class': 'D(tbr) fi-row Bgc($hoverBgColor):h'})
    for row in rows:
        row_text = row.get_text(separator='|').split('|')
        ticker_dict[row_text[0]] = row_text[1]
    return ticker_dict

In [4]:
def get_statistics_for(ticker: str, ticker_dict: dict) -> dict:
    url = f'https://finance.yahoo.com/quote/{ticker}/key-statistics'
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    table = soup.find_all('div', {'class': 'Mb(10px) smartphone_Pend(0px) Pend(20px)'})
    rows = table[0].find_all('div', {'class': 'Pos(r) Mt(10px)'})[0]
    rows = rows.find_all('table', {'class': 'W(100%) Bdcl(c)'})[0].find_all('tr')
    for row in rows:
        row_text = row.get_text(separator='|').split('|')
        ticker_dict[row_text[0]] = row_text[-1]
    return ticker_dict

In [5]:
for ticker in tickers:
    ticker_dict = get_details_for(ticker, 'balance-sheet', {})
    ticker_dict = get_details_for(ticker, 'financials', ticker_dict)
    ticker_dict = get_details_for(ticker, 'cash-flow', ticker_dict)
    ticker_dict = get_statistics_for(ticker, ticker_dict)
    financial_dir[ticker] = ticker_dict

In [6]:
combined_financials = pd.DataFrame(financial_dir)
# combined_financials.dropna(axis=1, inplace=True) # in case some tickers have all NaNs
# tickers = combined_financials.columns

In [7]:
combined_financials

                                                 MSFT         AMZN
Total Assets                              301,311,000  321,195,000
Total Liabilities Net Minority Interest   183,007,000  227,791,000
Total Equity Gross Minority Interest      118,304,000   93,404,000
Total Capitalization                      177,882,000  125,220,000
Common Stock Equity                       118,304,000   93,404,000
...                                               ...          ...
Enterprise Value/EBITDA                         23.68        31.73
Treasury Shares Number                            NaN       24,000
Earnings from Equity Interest Net of Tax          NaN     -100,000
Income Tax Paid Supplemental Data                 NaN    1,221,000
Interest Paid Supplemental Data                   NaN    1,610,000

[69 rows x 2 columns]